* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .head {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    background-color: crimson;
    padding: 20px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
  .options {
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
  }
  .optn {
    text-align: center;
    padding: 3px;
    border-radius: 10px;
  }
  .date {
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid black;
  }
  #btn {
    grid-column: 1 / -1;
    width: 100px;
    justify-self: center;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
  }
  .week{
      color: rgb(158, 42, 42);
      font-weight: bold;
  }
  .card {
    display: grid;
    grid-template-columns: 80px 180px;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    color: azure;
    background-color: mediumorchid;
    border-radius: 20px;
    width: 350px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  